@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}

@media (max-width: 400px) {
  #name {
    /* display: none; */
    zoom: 0.9;
  }

  #name h4 {
    bottom: 16px !important;
  }

  #name hr {
    bottom: 14px !important;
  }
}

@media (max-width: 350px) {
  #name {
    /* display: none; */
    zoom: 0.8;
  }

  #name h4 {
    bottom: 18px !important;
  }

  #name hr {
    bottom: 16px !important;
  }
}
